# Virtual environment
venv/
env/

# Byte-compiled files
__pycache__/
*.pyc

# Media and Static files (if not tracked)
media/
static_cdn/

# Database files
*.sqlite3

# Editor-specific files (VS Code)
.vscode/

# Environment variables
.env

# my Dev Notes
my_notes.txt
