{% extends "base.html" %} {% block title %}Sign In{% endblock %} 

{% block content %}
<div class="row">
  <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-5"
       style="min-height: 500px;"> 
    <h1>MyPets User Login</h1><br>
    <form class="mb-4" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'reset_password' %}" >Forgot your Password</a>
  </div>
</div>
{% endblock %}