{% extends "base.html" %}
{% block title %}Change Password{%endblock%}

{% block content %}
  <div class="row">
  <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-5">    
      <form method="post" novalidate>
        {% csrf_token %}
        <!-- { % include 'includes/form.html' % } -->
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Change password</button>
        <a href="{% url 'profile' %}"><button type="button" class="btn btn-secondary">Return</button></a>
      </form>
    </div>
  </div>
{% endblock %}