{% extends "base.html" %}
{% block title %}Password Changed{%endblock%}

{% block content %}
  <div class="row">
  <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-5">    
      <!-- <form method="post" novalidate>
        {% csrf_token %} -->
        <!-- { % include 'includes/form.html' % } -->
        <!-- { { form } } -->
        <!-- <button type="submit" class="btn btn-success">Change password</button>
      </form> -->
      <h1 class="pb-3">Password Changed</h1>

       <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
    </div>
  </div>
{% endblock %}