{% extends "base.html" %} {% block title %}Profile{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-3">    
     
    <h1>Update User Profile</h1>
    <p>{{ user.username }}</p>

    <!-- <p>Email: {{ user.email }}</p>
    <p>{{ user.first_name }} {{ user.last_name }}</p> -->
    <!-- {% if user.profile.bio %}
      <p>Bio: {{ user.profile.bio }}</p>
    {% else %}
      <p>No bio available.</p>
    {% endif %} -->
    <form method="post" enctype="multipart/form-data">
      <!-- <h3>User Information</h3> -->
      {% csrf_token %}
      {{ user_form.as_p }}
      <br
      {{ profile_form.as_p }}
      <button type="submit">Update Profile</button>
      <a href="{% url 'profile' %}"><button type="button" action>Return</button></a>
    </form>
      
      <div class="">    <!-- text-center py-2"> -->
        <small>
            <br><a href="{% url 'password_change' %}" class="text-muted">Change your Password</a>
        </small>
    </div>
  </div>
</div>
{% endblock %}
