{% extends "pets/pets_base.html" %}
{% block title %}Add New Pet{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-md-5 pb-5">
        <h1>Pets Log</h1>
        <p>Your Pet's Log</p>
        <a href="{% url 'home' %}"><button type="button">Add New Entry</button></a>
         
        <!-- <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add a new Pet</button>
        </form> -->
    </div>
</div>
{% endblock %}