{% extends "pets/pets_base.html" %}
{% block title %}Pet Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-md-5 pb-5">
        <h1>Pet Profile</h1>
        <!-- <p>pet profile</p> -->
            {{ pet.name }}<br>
            {{ pet.animal_type }}<br>
            {{ pet.description }}<br>
            {% if pet.avatar %}
                <img src="{{ pet.avatar.url }}" alt="Pet Avatar" class="img-fluid rounded-circle" style="max-height:300px"> 
            {% endif %}
            <br><br>
            <a href="{% url 'petprofileedit' id=pet.id %}"><button type="button">Edit Profile</button></a>
        </form>
        <br><br>
        <a href="{% url 'pets'  %}">Return to Pets List</a>

    </div>
</div>
{% endblock %}