{% extends "pets/pets_base.html" %}
{% block title %}Pet Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-md-5 pb-5">
        <h1><a class="text-decoration-none" href="{% url 'petprofile' id=pet.id %}">{{ pet.name }}'s Profile</a></h1>
        <!-- <p>pet profile</p> -->
        <button type="submit" class="mb-1" form="petpedit">Save Pet Profile</button>
        <form method="post" enctype="multipart/form-data" id="petpedit" class="pet-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Pet Profile</button>
        </form><br>
        <a href="{% url 'petprofile' id=pet.id %}">Return to Pet Profile</a><br>
        <a href="{% url 'pets'  %}">Return to Pets List</a>
    </div>
</div>
{% endblock %}