body {
    background-color: #cecf99;
    font-family: Arial, sans-serif;
    color: #333333;
}

.mycp {
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; */
    
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* min-height:600px; */
    }

    