body {
    background: rgb(123, 207, 224);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    }

form.pet-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    }

form label {
    display: block;
    margin-bottom: 10px;
    /* font-weight: bold; */
    }
    
.mycp {    
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    

@media (min-width: 768px) {

  .example {

    font-size: 24px;

  }
 
}



    