body {
    background: cornflowerblue;
    font-family: auto;
    }

.mycp {
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; */
    
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* min-height:600px; */
    }





/* CUSTOM Media Queries for Responsive Design - EJS */
@media (max-width: 767px) {
    
  .example {

    font-size: 28px;

  }

}