{% extends "pets/pets_base.html" %}
{% block title %}Delete Pet Log{% endblock %}

{% block content %}
<div class="row">
    <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-md-5 pb-5">
        <h1>Delete Pet Log</h1>
        <p>{{ user.username }} Pets</p>
        <p>{{ pet.name }}</p>
        <form method="post">
            {% csrf_token %}
            Are you sure you want to delete the following log entry?<br>
            pet: {{ object.pet }}<br>
            action: {{ object.action }}<br>
            date: {{ object.timestamp }}<br><br>
            <button type="submit">Delete This Pet Log</button>
            <a href="{% url 'logs' id=object.pet.id %}"><button type="button">Return to Pet Logs</button></a>
        </form>
    </div>
</div>
{% endblock %}