{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row mx-md-1">
  <div class="mycp col-lg-8 col-md-10 col-sm-12 mx-auto text-center bg-light py-3 mt-md-5 pb-5" 
       style="min-height: 500px;">    
    <h1>MyPets Home Page</h1>
    {% if user.is_authenticated %}
    <br><h3>Hello, {{ user.username }}.</h3>
    <!-- Hi {{ user.username }}! -->
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}<br><br>
      <button type="submit">Log Out</button>
    </form><br><br>
    <a href="{% url 'pets' %}">See Your Lovely Pets</a>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Sign Up</a>
    {% endif %}
  </div>
</div>
{% endblock %}
